# Arquivos e diretórios criados pelo Maven
/target/
/*.iml
/.idea/
/.classpath
/.project
/.settings/
/.mvn/

# Configurações do sistema operacional
.DS_Store
Thumbs.db

# Logs
*.log
*.out
*.bak

# Arquivos temporários
*.tmp
*.swp
*.swo
*.~*

# Configurações do IDE (IntelliJ, Eclipse, VSCode, etc.)
.idea/
*.ipr
*.iws
*.iml
.vscode/

# Arquivos sensíveis ou locais
*.env
application.properties
application.yml

# Binários ou builds
*.jar
*.war
*.ear
